.overlay {
  display: none;
  position: absolute;
  transform: translate(5.5rem, -10rem);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.overlay-add-to-cart,
.overlay-details {
  background: none;
  background-color: gray;
  color: white;
  border: none;
  padding: 1rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  letter-spacing: 1px;
  font-weight: 600;
}

.overlay-details {
  margin-bottom: 2rem;
}

.overlay-details:hover,
.overlay-add-to-cart:hover {
  background-color: black;
}
