.Cart {
  height: max-content;
  min-height: calc(100vh - 4.1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(223, 223, 223, 0.795);
}

.cart-title {
  padding: 4rem 0 4rem 0;
}

.product-list {
  margin: 5rem 7rem 5rem 7rem;
}

.cart-items {
  padding: 0 7% 0 7%;
  background-color: white;
}

.product-item {
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgb(131, 129, 129);
}

.amount {
  display: flex;
  height: 3rem;
}

.cart-item-text h3,
p {
  margin: 0;
}

.cart-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-overview {
  padding: 2rem 0 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart-overview-container {
  transform: translateX(-3rem);
}
.cart-overview-container p {
  margin: 0 0 1rem 0;
  color: rgb(160, 158, 158);
}

.cart-overview-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-overview-details .titles {
  margin: 0 12rem 0 0;
}

.cart-overview-details .prices {
  text-align: end;
  transform: translateX(1rem);
}

.quantity,
.total,
.action {
  margin: 0 1rem 0 1rem;
  display: flex;
  align-items: center;
}

.cart-total {
  display: flex;
  align-items: center;
  justify-content: right;
}

.cart-total p {
  display: flex !important;
  justify-self: right !important;
}
